# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
Entities/bin
Entities/obj
SEP490_BackendAPI/bin
SEP490_BackendAPI/obj
SEP490_BackendAPI/bin
SEP490_BackendAPI/obj
Entities/bin
Entities/obj
Domain/bin
Domain/obj
Authentication/bin
SEP490_DataAccess/obj
.vs
Authentication
Authentication/obj
Domain/obj
Entities/obj
SEP490_BackendAPI/obj
SEP490_DataAccess/obj
Authentication/bin
Domain/bin
Entities/bin
SEP490_BackendAPI/bin
SEP490_DataAccess/bin
