USE [master]
GO
/****** Object:  Database [LCFMSystem]    Script Date: 6/22/2025 6:57:54 PM ******/
CREATE DATABASE [LCFMSystem]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LCFMSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LCFMSystem]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [uniqueidentifier] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BarnPlanFoods]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BarnPlanFoods](
	[Id] [uniqueidentifier] NOT NULL,
	[BarnPlanId] [uniqueidentifier] NOT NULL,
	[FoodId] [uniqueidentifier] NOT NULL,
	[Stock] [real] NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_BarnPlanFoods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BarnPlanMedicines]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BarnPlanMedicines](
	[Id] [uniqueidentifier] NOT NULL,
	[BarnPlanId] [uniqueidentifier] NOT NULL,
	[MedicineId] [uniqueidentifier] NOT NULL,
	[Stock] [real] NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_BarnPlanMedicines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BarnPlans]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BarnPlans](
	[Id] [uniqueidentifier] NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_BarnPlans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Barns]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Barns](
	[Id] [uniqueidentifier] NOT NULL,
	[BarnName] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[WorkerId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Barns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillItems]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillItems](
	[Id] [uniqueidentifier] NOT NULL,
	[BillId] [uniqueidentifier] NOT NULL,
	[FoodId] [uniqueidentifier] NULL,
	[MedicineId] [uniqueidentifier] NULL,
	[BreedId] [uniqueidentifier] NULL,
	[Stock] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_BillItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[Id] [uniqueidentifier] NOT NULL,
	[UserRequestId] [uniqueidentifier] NOT NULL,
	[LivestockCircleId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[Total] [int] NOT NULL,
	[Weight] [real] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Bills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BreedCategories]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BreedCategories](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_BreedCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Breeds]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Breeds](
	[Id] [uniqueidentifier] NOT NULL,
	[BreedName] [nvarchar](max) NOT NULL,
	[BreedCategoryId] [uniqueidentifier] NOT NULL,
	[Stock] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Breeds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyReports]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyReports](
	[Id] [uniqueidentifier] NOT NULL,
	[LivestockCircleId] [uniqueidentifier] NOT NULL,
	[DeadUnit] [int] NOT NULL,
	[GoodUnit] [int] NOT NULL,
	[BadUnit] [int] NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[AgeInDays] [int] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DailyReports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodCategories]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodCategories](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_FoodCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodReports]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodReports](
	[Id] [uniqueidentifier] NOT NULL,
	[FoodId] [uniqueidentifier] NOT NULL,
	[ReportId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_FoodReports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Foods]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foods](
	[Id] [uniqueidentifier] NOT NULL,
	[FoodName] [nvarchar](max) NOT NULL,
	[FoodCategoryId] [uniqueidentifier] NOT NULL,
	[Stock] [int] NOT NULL,
	[WeighPerUnit] [real] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Foods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageBreeds]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageBreeds](
	[Id] [uniqueidentifier] NOT NULL,
	[BreedId] [uniqueidentifier] NOT NULL,
	[Thumnail] [nvarchar](max) NOT NULL,
	[ImageLink] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ImageBreeds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageDailyReports]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageDailyReports](
	[Id] [uniqueidentifier] NOT NULL,
	[DailyReportId] [uniqueidentifier] NOT NULL,
	[Thumnail] [nvarchar](max) NOT NULL,
	[ImageLink] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ImageDailyReports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageFoods]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageFoods](
	[Id] [uniqueidentifier] NOT NULL,
	[FoodId] [uniqueidentifier] NOT NULL,
	[Thumnail] [nvarchar](max) NOT NULL,
	[ImageLink] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ImageFoods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageLivestockCircles]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageLivestockCircles](
	[Id] [uniqueidentifier] NOT NULL,
	[LivestockCircleId] [uniqueidentifier] NOT NULL,
	[Thumnail] [nvarchar](max) NOT NULL,
	[ImageLink] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ImageLivestockCircles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageMedicines]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageMedicines](
	[Id] [uniqueidentifier] NOT NULL,
	[MedicineId] [uniqueidentifier] NOT NULL,
	[Thumnail] [nvarchar](max) NOT NULL,
	[ImageLink] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ImageMedicines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LivestockCircleFoods]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LivestockCircleFoods](
	[Id] [uniqueidentifier] NOT NULL,
	[LivestockCircleId] [uniqueidentifier] NOT NULL,
	[FoodId] [uniqueidentifier] NOT NULL,
	[Remaining] [real] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_LivestockCircleFoods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LivestockCircleMedicines]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LivestockCircleMedicines](
	[Id] [uniqueidentifier] NOT NULL,
	[LivestockCircleId] [uniqueidentifier] NOT NULL,
	[MedicineId] [uniqueidentifier] NOT NULL,
	[Remaining] [real] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_LivestockCircleMedicines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LivestockCircles]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LivestockCircles](
	[Id] [uniqueidentifier] NOT NULL,
	[LivestockCircleName] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[TotalUnit] [int] NOT NULL,
	[DeadUnit] [int] NOT NULL,
	[AverageWeight] [real] NOT NULL,
	[GoodUnitNumber] [int] NOT NULL,
	[BadUnitNumber] [int] NOT NULL,
	[BreedId] [uniqueidentifier] NOT NULL,
	[BarnId] [uniqueidentifier] NOT NULL,
	[TechicalStaffId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_LivestockCircles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicineCategories]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineCategories](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_MedicineCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicineReports]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineReports](
	[Id] [uniqueidentifier] NOT NULL,
	[MedicineId] [uniqueidentifier] NOT NULL,
	[ReportId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_MedicineReports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[Id] [uniqueidentifier] NOT NULL,
	[MedicineName] [nvarchar](max) NOT NULL,
	[MedicineCategoryId] [uniqueidentifier] NOT NULL,
	[Stock] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Medicines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[LivestockCircleId] [uniqueidentifier] NOT NULL,
	[GoodUnitStock] [int] NOT NULL,
	[BadUnitStock] [int] NOT NULL,
	[TotalBill] [real] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[Expires] [datetime2](7) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[CreatedByIp] [nvarchar](max) NOT NULL,
	[Revoked] [datetime2](7) NULL,
	[RevokedByIp] [nvarchar](max) NULL,
	[ReplacedByToken] [nvarchar](max) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/22/2025 6:57:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[MiddleName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[OTP] [nvarchar](max) NULL,
	[OTPExpiry] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250613122524_IdentityInitial1', N'8.0.1')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250616143408_UpdateIdentityModels', N'8.0.1')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250616231311_AddDomainEntities', N'8.0.1')
GO
INSERT [dbo].[Barns] ([Id], [BarnName], [Address], [Image], [WorkerId], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'e1d40884-ff30-407a-8934-0a580d2bd57a', N'Chuồng 1 của anh A', N'Nghe An', N'https://res.cloudinary.com/dpgk5pqt9/image/upload/v1750423993/barn/gnqszpknq0khn4ktrscr.jpg', N'8808c9fb-825e-4bd2-fea2-08ddae35a557', 1, CAST(N'2025-06-20T19:53:13.0027165' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
GO
INSERT [dbo].[BillItems] ([Id], [BillId], [FoodId], [MedicineId], [BreedId], [Stock], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'4f202865-0a19-4f44-aaa9-0c49871d3b59', N'3afbcb9c-bc33-4b14-81b5-aa0a441bd338', N'1c9391e2-75d6-443a-9808-fe79202d7c42', NULL, NULL, 50, 0, CAST(N'2025-06-21T19:13:38.8981522' AS DateTime2), CAST(N'2025-06-21T19:51:43.3207155' AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[BillItems] ([Id], [BillId], [FoodId], [MedicineId], [BreedId], [Stock], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'822aed05-ec56-46f9-b77f-c828fba385a8', N'3afbcb9c-bc33-4b14-81b5-aa0a441bd338', N'f4dc103e-0268-406c-9f5c-273b6595b071', NULL, NULL, 80, 1, CAST(N'2025-06-21T19:39:32.8817627' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[BillItems] ([Id], [BillId], [FoodId], [MedicineId], [BreedId], [Stock], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'661868d3-b3b6-4845-a2eb-d603e4a2a31d', N'3afbcb9c-bc33-4b14-81b5-aa0a441bd338', N'1c9391e2-75d6-443a-9808-fe79202d7c42', NULL, NULL, 60, 1, CAST(N'2025-06-21T19:13:38.8464322' AS DateTime2), CAST(N'2025-06-21T19:16:24.5727380' AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'00000000-0000-0000-0000-000000000000')
GO
INSERT [dbo].[Bills] ([Id], [UserRequestId], [LivestockCircleId], [Name], [Note], [Total], [Weight], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [Status]) VALUES (N'3afbcb9c-bc33-4b14-81b5-aa0a441bd338', N'11c6f1e6-b739-4743-fea3-08ddae35a557', N'f289a64e-667d-4534-9378-66189c406964', N'string', N'string', 190, 0, 1, CAST(N'2025-06-21T19:13:38.7948198' AS DateTime2), CAST(N'2025-06-21T19:51:43.3429327' AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'00000000-0000-0000-0000-000000000000', N'Đang duyệt')
GO
INSERT [dbo].[BreedCategories] ([Id], [Name], [Description], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'5ae0976d-a8f5-403f-8d53-03b27ca86437', N'Duck Breed', N'Giống Vịt', 1, CAST(N'2025-06-18T14:07:52.5877431' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[BreedCategories] ([Id], [Name], [Description], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'ec9de5bf-ca06-4b7e-95e4-2a07d1ac8c61', N'string', N'string', 1, CAST(N'2025-06-21T20:44:57.4478769' AS DateTime2), CAST(N'2025-06-21T20:47:37.4159063' AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'00000000-0000-0000-0000-000000000000')
GO
INSERT [dbo].[Breeds] ([Id], [BreedName], [BreedCategoryId], [Stock], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'0e91e0c8-4317-4c76-866e-84df2c240a5f', N'Super CM', N'5ae0976d-a8f5-403f-8d53-03b27ca86437', 5000, 1, CAST(N'2025-06-18T14:10:22.5835648' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[Breeds] ([Id], [BreedName], [BreedCategoryId], [Stock], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'29404756-b99a-4126-bb20-e8909923cc8b', N'Super VM', N'5ae0976d-a8f5-403f-8d53-03b27ca86437', 4000, 1, CAST(N'2025-06-18T14:09:55.0561159' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
GO
INSERT [dbo].[DailyReports] ([Id], [LivestockCircleId], [DeadUnit], [GoodUnit], [BadUnit], [Note], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [AgeInDays], [Status]) VALUES (N'9cb2343b-d41f-47e3-b5ad-0351d058c670', N'f289a64e-667d-4534-9378-66189c406964', 0, 0, 0, N'string', 1, CAST(N'2025-06-21T22:05:50.7958062' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL, 3, N'Hoạt Động')
INSERT [dbo].[DailyReports] ([Id], [LivestockCircleId], [DeadUnit], [GoodUnit], [BadUnit], [Note], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [AgeInDays], [Status]) VALUES (N'3ca11a27-9e5d-4969-8dd9-1aff604a2a91', N'f289a64e-667d-4534-9378-66189c406964', 10, 0, 10, N'ok', 1, CAST(N'2025-06-18T20:06:34.7995286' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL, 0, N'Hoạt Động')
INSERT [dbo].[DailyReports] ([Id], [LivestockCircleId], [DeadUnit], [GoodUnit], [BadUnit], [Note], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy], [AgeInDays], [Status]) VALUES (N'7cc75dad-5ac3-4137-8a8f-f60c7d5dfe0c', N'f289a64e-667d-4534-9378-66189c406964', 20, 0, 20, N'update này', 1, CAST(N'2025-06-20T20:08:52.0980190' AS DateTime2), CAST(N'2025-06-20T21:34:20.4919063' AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'00000000-0000-0000-0000-000000000000', 2, N'Hoạt Động')
GO
INSERT [dbo].[FoodCategories] ([Id], [Name], [Description], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'981e5edd-0dd5-4d86-85cf-38c9158d5f16', N'DF', N'Thức ăn của giống vịt thịt', 1, CAST(N'2025-06-18T14:02:35.9623948' AS DateTime2), CAST(N'2025-06-21T20:22:53.7026005' AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[FoodCategories] ([Id], [Name], [Description], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'489194b9-7b3d-4c41-b99b-7aedef61f512', N'PF', N'Thức ăn của giống lợn thịt', 1, CAST(N'2025-06-18T14:02:45.6626665' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
GO
INSERT [dbo].[FoodReports] ([Id], [FoodId], [ReportId], [Quantity], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'ff4b5690-d1c9-4b3f-ab85-5b86481b00f6', N'f4dc103e-0268-406c-9f5c-273b6595b071', N'3ca11a27-9e5d-4969-8dd9-1aff604a2a91', 10, 1, CAST(N'2025-06-20T20:06:35.3385288' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[FoodReports] ([Id], [FoodId], [ReportId], [Quantity], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'1ec89800-26c9-4ad5-814e-a3d52bccd2ab', N'f4dc103e-0268-406c-9f5c-273b6595b071', N'7cc75dad-5ac3-4137-8a8f-f60c7d5dfe0c', 20, 1, CAST(N'2025-06-20T20:08:52.6649104' AS DateTime2), CAST(N'2025-06-20T21:34:20.8420124' AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[FoodReports] ([Id], [FoodId], [ReportId], [Quantity], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'fdaa987c-0020-4e92-8c96-f2075463d0f0', N'f4dc103e-0268-406c-9f5c-273b6595b071', N'9cb2343b-d41f-47e3-b5ad-0351d058c670', 30, 1, CAST(N'2025-06-21T22:05:51.6375225' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
GO
INSERT [dbo].[Foods] ([Id], [FoodName], [FoodCategoryId], [Stock], [WeighPerUnit], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'f4dc103e-0268-406c-9f5c-273b6595b071', N'C62', N'981e5edd-0dd5-4d86-85cf-38c9158d5f16', 4000, 40, 1, CAST(N'2025-06-20T19:28:19.7705574' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[Foods] ([Id], [FoodName], [FoodCategoryId], [Stock], [WeighPerUnit], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'0aec7fd5-d602-469d-bb24-bf23367ac821', N'string', N'981e5edd-0dd5-4d86-85cf-38c9158d5f16', 5000, 40, 0, CAST(N'2025-06-21T21:14:20.0805359' AS DateTime2), CAST(N'2025-06-21T21:20:16.5666216' AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[Foods] ([Id], [FoodName], [FoodCategoryId], [Stock], [WeighPerUnit], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'1c9391e2-75d6-443a-9808-fe79202d7c42', N'B14S', N'981e5edd-0dd5-4d86-85cf-38c9158d5f16', 4000, 40, 1, CAST(N'2025-06-20T19:26:35.4835424' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
GO
INSERT [dbo].[ImageBreeds] ([Id], [BreedId], [Thumnail], [ImageLink], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'022928c1-f401-4c01-b065-7f620cd8e882', N'29404756-b99a-4126-bb20-e8909923cc8b', N'true', N'https://res.cloudinary.com/dpgk5pqt9/image/upload/v1750230596/breed/e4wtjcqmfpvr25kbmkrx.jpg', 1, CAST(N'2025-06-18T14:09:57.3947403' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[ImageBreeds] ([Id], [BreedId], [Thumnail], [ImageLink], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'6dc08be3-1a95-4b19-997d-c0efbd3cffa8', N'0e91e0c8-4317-4c76-866e-84df2c240a5f', N'false', N'https://res.cloudinary.com/dpgk5pqt9/image/upload/v1750230623/breed/sv9z2wctqfzaqi8q5nph.jpg', 1, CAST(N'2025-06-18T14:10:24.5263574' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[ImageBreeds] ([Id], [BreedId], [Thumnail], [ImageLink], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'a8ba89a7-ff55-42da-9aa6-c54e08b89c86', N'0e91e0c8-4317-4c76-866e-84df2c240a5f', N'true', N'https://res.cloudinary.com/dpgk5pqt9/image/upload/v1750230622/breed/jel9mk9wqw1juz1snks6.jpg', 1, CAST(N'2025-06-18T14:10:23.8285732' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
GO
INSERT [dbo].[ImageDailyReports] ([Id], [DailyReportId], [Thumnail], [ImageLink], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'd4720a30-a39a-4b6f-a2d9-03305ab8bc36', N'9cb2343b-d41f-47e3-b5ad-0351d058c670', N'true', N'https://res.cloudinary.com/dpgk5pqt9/image/upload/v1750518357/daily-reports/v0khohuhcw0cyg6cu4fj.jpg', 1, CAST(N'2025-06-21T22:05:58.3661113' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[ImageDailyReports] ([Id], [DailyReportId], [Thumnail], [ImageLink], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'5c64ac4f-3b78-4b43-a73f-1be0e582dab5', N'3ca11a27-9e5d-4969-8dd9-1aff604a2a91', N'true', N'https://res.cloudinary.com/dpgk5pqt9/image/upload/v1750424797/daily-reports/k9c58ikpswfsxqvhten5.jpg', 1, CAST(N'2025-06-20T20:06:37.9846988' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[ImageDailyReports] ([Id], [DailyReportId], [Thumnail], [ImageLink], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'24d0314a-1642-4a21-a122-395c6d76c1d6', N'9cb2343b-d41f-47e3-b5ad-0351d058c670', N'false', N'https://res.cloudinary.com/dpgk5pqt9/image/upload/v1750518359/daily-reports/gk3cwl1mdvmailvixihv.jpg', 1, CAST(N'2025-06-21T22:06:00.0655793' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
GO
INSERT [dbo].[ImageFoods] ([Id], [FoodId], [Thumnail], [ImageLink], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'19dfcd2d-a9e2-4171-952c-0e23ecf6b6c4', N'f4dc103e-0268-406c-9f5c-273b6595b071', N'true', N'https://res.cloudinary.com/dpgk5pqt9/image/upload/v1750422503/food/cg9s1uaf58abelcyn9pr.png', 1, CAST(N'2025-06-20T19:28:23.2988103' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[ImageFoods] ([Id], [FoodId], [Thumnail], [ImageLink], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'80514892-45a1-4f7f-bdb9-46ae7aad57f0', N'0aec7fd5-d602-469d-bb24-bf23367ac821', N'false', N'https://res.cloudinary.com/dpgk5pqt9/image/upload/v1750515474/food/p5vibwum8xyfwgc0t3cc.jpg', 1, CAST(N'2025-06-21T21:17:54.7835061' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[ImageFoods] ([Id], [FoodId], [Thumnail], [ImageLink], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'd567bbb6-a6f6-48de-8777-522e7e99f725', N'f4dc103e-0268-406c-9f5c-273b6595b071', N'false', N'https://res.cloudinary.com/dpgk5pqt9/image/upload/v1750422505/food/vuzubj6phymtxab6llnl.png', 1, CAST(N'2025-06-20T19:28:25.8565103' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
GO
INSERT [dbo].[ImageMedicines] ([Id], [MedicineId], [Thumnail], [ImageLink], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'b4269bc1-d812-4da0-8837-01e1d10dd55e', N'ba865eca-14fe-4d4c-a0fd-7805468e1e96', N'false', N'https://res.cloudinary.com/dpgk5pqt9/image/upload/v1750422804/medicine/th1ucwnz5tbpjhgdk3hi.jpg', 1, CAST(N'2025-06-20T19:33:24.6905063' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[ImageMedicines] ([Id], [MedicineId], [Thumnail], [ImageLink], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'00172a10-e0c6-4327-b811-a02def93c3ae', N'ba865eca-14fe-4d4c-a0fd-7805468e1e96', N'true', N'https://res.cloudinary.com/dpgk5pqt9/image/upload/v1750422803/medicine/gk6vyumtr6mgrqpjhhig.jpg', 1, CAST(N'2025-06-20T19:33:23.6974543' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
GO
INSERT [dbo].[LivestockCircleFoods] ([Id], [LivestockCircleId], [FoodId], [Remaining], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'f289a64e-667d-4534-9378-66189c406969', N'f289a64e-667d-4534-9378-66189c406964', N'f4dc103e-0268-406c-9f5c-273b6595b071', 240, 1, CAST(N'2025-06-20T19:28:19.7705574' AS DateTime2), CAST(N'2025-06-21T22:05:51.6374234' AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'00000000-0000-0000-0000-000000000000')
GO
INSERT [dbo].[LivestockCircleMedicines] ([Id], [LivestockCircleId], [MedicineId], [Remaining], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'ba865eca-14fe-4d4c-a0fd-7805468e1e90', N'f289a64e-667d-4534-9378-66189c406964', N'ba865eca-14fe-4d4c-a0fd-7805468e1e96', 340, 1, CAST(N'2025-06-20T19:28:19.7705574' AS DateTime2), CAST(N'2025-06-21T22:05:51.7725075' AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'00000000-0000-0000-0000-000000000000')
GO
INSERT [dbo].[MedicineCategories] ([Id], [Name], [Description], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'1214c7ce-412e-4780-b920-de4169dea229', N'Vaccine', N'Thuốc tiêm', 1, CAST(N'2025-06-18T14:03:43.9396589' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
GO
INSERT [dbo].[MedicineReports] ([Id], [MedicineId], [ReportId], [Quantity], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'54b2d555-3d5c-465c-bd41-0b75adeef53d', N'ba865eca-14fe-4d4c-a0fd-7805468e1e96', N'9cb2343b-d41f-47e3-b5ad-0351d058c670', 30, 1, CAST(N'2025-06-21T22:05:51.7726411' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[MedicineReports] ([Id], [MedicineId], [ReportId], [Quantity], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'14392326-d46c-4d29-9fd3-203c015079a0', N'ba865eca-14fe-4d4c-a0fd-7805468e1e96', N'7cc75dad-5ac3-4137-8a8f-f60c7d5dfe0c', 20, 1, CAST(N'2025-06-20T20:08:52.7639752' AS DateTime2), CAST(N'2025-06-20T21:34:20.9325752' AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[MedicineReports] ([Id], [MedicineId], [ReportId], [Quantity], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'ee3d5ace-725b-4272-adca-e340f382f662', N'ba865eca-14fe-4d4c-a0fd-7805468e1e96', N'3ca11a27-9e5d-4969-8dd9-1aff604a2a91', 10, 1, CAST(N'2025-06-20T20:06:35.4731883' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
GO
INSERT [dbo].[Medicines] ([Id], [MedicineName], [MedicineCategoryId], [Stock], [IsActive], [CreatedDate], [UpdatedDate], [CreatedBy], [UpdatedBy]) VALUES (N'ba865eca-14fe-4d4c-a0fd-7805468e1e96', N'Vaccine dịch tả', N'1214c7ce-412e-4780-b920-de4169dea229', 2000, 1, CAST(N'2025-06-20T19:33:21.4745490' AS DateTime2), NULL, N'00000000-0000-0000-0000-000000000000', NULL)
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] ON 

INSERT [dbo].[RefreshTokens] ([Id], [Token], [Expires], [Created], [CreatedByIp], [Revoked], [RevokedByIp], [ReplacedByToken], [UserId]) VALUES (1, N'0E8224FC0E44075B5739D16F3C90EA351E34C19E33498D6A7558E1B01F1BB0B8EFB9F7815645A6F0', CAST(N'2025-06-25T14:34:55.8201241' AS DateTime2), CAST(N'2025-06-18T14:34:55.8202296' AS DateTime2), N'0.0.0.1', NULL, NULL, NULL, N'0a2014c2-305d-409b-e351-08ddae7516df')
SET IDENTITY_INSERT [dbo].[RefreshTokens] OFF
GO
INSERT [dbo].[Roles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp], [CreatedBy], [CreatedDate], [IsActive], [UpdatedBy], [UpdatedDate]) VALUES (N'60b3644e-3c52-421c-c59c-08ddae253dec', N'Company Admin', N'COMPANY ADMIN', NULL, N'00000000-0000-0000-0000-000000000000', CAST(N'2025-06-18T12:01:53.2122960' AS DateTime2), 1, NULL, NULL)
INSERT [dbo].[Roles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp], [CreatedBy], [CreatedDate], [IsActive], [UpdatedBy], [UpdatedDate]) VALUES (N'a4015a88-ffb2-4ea5-c59d-08ddae253dec', N'Technical Staff', N'TECHNICAL STAFF', NULL, N'00000000-0000-0000-0000-000000000000', CAST(N'2025-06-18T12:01:53.4789192' AS DateTime2), 1, NULL, NULL)
INSERT [dbo].[Roles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp], [CreatedBy], [CreatedDate], [IsActive], [UpdatedBy], [UpdatedDate]) VALUES (N'b6d8934c-622f-4f28-c59e-08ddae253dec', N'Feed Room Staff', N'FEED ROOM STAFF', NULL, N'00000000-0000-0000-0000-000000000000', CAST(N'2025-06-18T12:01:53.4934071' AS DateTime2), 1, NULL, NULL)
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'b7cb123b-458f-4f1b-4f1a-08ddae253e30', N'60b3644e-3c52-421c-c59c-08ddae253dec')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'11c6f1e6-b739-4743-fea3-08ddae35a557', N'a4015a88-ffb2-4ea5-c59d-08ddae253dec')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'0a2014c2-305d-409b-e351-08ddae7516df', N'a4015a88-ffb2-4ea5-c59d-08ddae253dec')
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BarnPlanFoods_BarnPlanId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_BarnPlanFoods_BarnPlanId] ON [dbo].[BarnPlanFoods]
(
	[BarnPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BarnPlanFoods_FoodId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_BarnPlanFoods_FoodId] ON [dbo].[BarnPlanFoods]
(
	[FoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BarnPlanMedicines_BarnPlanId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_BarnPlanMedicines_BarnPlanId] ON [dbo].[BarnPlanMedicines]
(
	[BarnPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BarnPlanMedicines_MedicineId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_BarnPlanMedicines_MedicineId] ON [dbo].[BarnPlanMedicines]
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Barns_WorkerId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Barns_WorkerId] ON [dbo].[Barns]
(
	[WorkerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BillItems_BillId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_BillItems_BillId] ON [dbo].[BillItems]
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BillItems_BreedId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_BillItems_BreedId] ON [dbo].[BillItems]
(
	[BreedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BillItems_FoodId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_BillItems_FoodId] ON [dbo].[BillItems]
(
	[FoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BillItems_MedicineId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_BillItems_MedicineId] ON [dbo].[BillItems]
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bills_LivestockCircleId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bills_LivestockCircleId] ON [dbo].[Bills]
(
	[LivestockCircleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bills_UserRequestId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bills_UserRequestId] ON [dbo].[Bills]
(
	[UserRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Breeds_BreedCategoryId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Breeds_BreedCategoryId] ON [dbo].[Breeds]
(
	[BreedCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DailyReports_LivestockCircleId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_DailyReports_LivestockCircleId] ON [dbo].[DailyReports]
(
	[LivestockCircleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FoodReports_FoodId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_FoodReports_FoodId] ON [dbo].[FoodReports]
(
	[FoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FoodReports_ReportId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_FoodReports_ReportId] ON [dbo].[FoodReports]
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Foods_FoodCategoryId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Foods_FoodCategoryId] ON [dbo].[Foods]
(
	[FoodCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImageBreeds_BreedId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImageBreeds_BreedId] ON [dbo].[ImageBreeds]
(
	[BreedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImageDailyReports_DailyReportId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImageDailyReports_DailyReportId] ON [dbo].[ImageDailyReports]
(
	[DailyReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImageFoods_FoodId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImageFoods_FoodId] ON [dbo].[ImageFoods]
(
	[FoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImageLivestockCircles_LivestockCircleId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImageLivestockCircles_LivestockCircleId] ON [dbo].[ImageLivestockCircles]
(
	[LivestockCircleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ImageMedicines_MedicineId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_ImageMedicines_MedicineId] ON [dbo].[ImageMedicines]
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LivestockCircleFoods_FoodId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_LivestockCircleFoods_FoodId] ON [dbo].[LivestockCircleFoods]
(
	[FoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LivestockCircleFoods_LivestockCircleId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_LivestockCircleFoods_LivestockCircleId] ON [dbo].[LivestockCircleFoods]
(
	[LivestockCircleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LivestockCircleMedicines_LivestockCircleId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_LivestockCircleMedicines_LivestockCircleId] ON [dbo].[LivestockCircleMedicines]
(
	[LivestockCircleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LivestockCircleMedicines_MedicineId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_LivestockCircleMedicines_MedicineId] ON [dbo].[LivestockCircleMedicines]
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LivestockCircles_BarnId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_LivestockCircles_BarnId] ON [dbo].[LivestockCircles]
(
	[BarnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LivestockCircles_BreedId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_LivestockCircles_BreedId] ON [dbo].[LivestockCircles]
(
	[BreedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LivestockCircles_TechicalStaffId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_LivestockCircles_TechicalStaffId] ON [dbo].[LivestockCircles]
(
	[TechicalStaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicineReports_MedicineId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_MedicineReports_MedicineId] ON [dbo].[MedicineReports]
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicineReports_ReportId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_MedicineReports_ReportId] ON [dbo].[MedicineReports]
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Medicines_MedicineCategoryId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Medicines_MedicineCategoryId] ON [dbo].[Medicines]
(
	[MedicineCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_CustomerId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_CustomerId] ON [dbo].[Orders]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_LivestockCircleId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_LivestockCircleId] ON [dbo].[Orders]
(
	[LivestockCircleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RefreshTokens_UserId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_RefreshTokens_UserId] ON [dbo].[RefreshTokens]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[Roles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[Users]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 6/22/2025 6:57:55 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[Users]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT (N'') FOR [Status]
GO
ALTER TABLE [dbo].[DailyReports] ADD  DEFAULT ((0)) FOR [AgeInDays]
GO
ALTER TABLE [dbo].[DailyReports] ADD  DEFAULT (N'') FOR [Status]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_Roles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_Users_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_Users_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_Users_UserId]
GO
ALTER TABLE [dbo].[BarnPlanFoods]  WITH CHECK ADD  CONSTRAINT [FK_BarnPlanFoods_BarnPlans_BarnPlanId] FOREIGN KEY([BarnPlanId])
REFERENCES [dbo].[BarnPlans] ([Id])
GO
ALTER TABLE [dbo].[BarnPlanFoods] CHECK CONSTRAINT [FK_BarnPlanFoods_BarnPlans_BarnPlanId]
GO
ALTER TABLE [dbo].[BarnPlanFoods]  WITH CHECK ADD  CONSTRAINT [FK_BarnPlanFoods_Foods_FoodId] FOREIGN KEY([FoodId])
REFERENCES [dbo].[Foods] ([Id])
GO
ALTER TABLE [dbo].[BarnPlanFoods] CHECK CONSTRAINT [FK_BarnPlanFoods_Foods_FoodId]
GO
ALTER TABLE [dbo].[BarnPlanMedicines]  WITH CHECK ADD  CONSTRAINT [FK_BarnPlanMedicines_BarnPlans_BarnPlanId] FOREIGN KEY([BarnPlanId])
REFERENCES [dbo].[BarnPlans] ([Id])
GO
ALTER TABLE [dbo].[BarnPlanMedicines] CHECK CONSTRAINT [FK_BarnPlanMedicines_BarnPlans_BarnPlanId]
GO
ALTER TABLE [dbo].[BarnPlanMedicines]  WITH CHECK ADD  CONSTRAINT [FK_BarnPlanMedicines_Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([Id])
GO
ALTER TABLE [dbo].[BarnPlanMedicines] CHECK CONSTRAINT [FK_BarnPlanMedicines_Medicines_MedicineId]
GO
ALTER TABLE [dbo].[Barns]  WITH CHECK ADD  CONSTRAINT [FK_Barns_Users_WorkerId] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Barns] CHECK CONSTRAINT [FK_Barns_Users_WorkerId]
GO
ALTER TABLE [dbo].[BillItems]  WITH CHECK ADD  CONSTRAINT [FK_BillItems_Bills_BillId] FOREIGN KEY([BillId])
REFERENCES [dbo].[Bills] ([Id])
GO
ALTER TABLE [dbo].[BillItems] CHECK CONSTRAINT [FK_BillItems_Bills_BillId]
GO
ALTER TABLE [dbo].[BillItems]  WITH CHECK ADD  CONSTRAINT [FK_BillItems_Breeds_BreedId] FOREIGN KEY([BreedId])
REFERENCES [dbo].[Breeds] ([Id])
GO
ALTER TABLE [dbo].[BillItems] CHECK CONSTRAINT [FK_BillItems_Breeds_BreedId]
GO
ALTER TABLE [dbo].[BillItems]  WITH CHECK ADD  CONSTRAINT [FK_BillItems_Foods_FoodId] FOREIGN KEY([FoodId])
REFERENCES [dbo].[Foods] ([Id])
GO
ALTER TABLE [dbo].[BillItems] CHECK CONSTRAINT [FK_BillItems_Foods_FoodId]
GO
ALTER TABLE [dbo].[BillItems]  WITH CHECK ADD  CONSTRAINT [FK_BillItems_Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([Id])
GO
ALTER TABLE [dbo].[BillItems] CHECK CONSTRAINT [FK_BillItems_Medicines_MedicineId]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_LivestockCircles_LivestockCircleId] FOREIGN KEY([LivestockCircleId])
REFERENCES [dbo].[LivestockCircles] ([Id])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_LivestockCircles_LivestockCircleId]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Users_UserRequestId] FOREIGN KEY([UserRequestId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Users_UserRequestId]
GO
ALTER TABLE [dbo].[Breeds]  WITH CHECK ADD  CONSTRAINT [FK_Breeds_BreedCategories_BreedCategoryId] FOREIGN KEY([BreedCategoryId])
REFERENCES [dbo].[BreedCategories] ([Id])
GO
ALTER TABLE [dbo].[Breeds] CHECK CONSTRAINT [FK_Breeds_BreedCategories_BreedCategoryId]
GO
ALTER TABLE [dbo].[DailyReports]  WITH CHECK ADD  CONSTRAINT [FK_DailyReports_LivestockCircles_LivestockCircleId] FOREIGN KEY([LivestockCircleId])
REFERENCES [dbo].[LivestockCircles] ([Id])
GO
ALTER TABLE [dbo].[DailyReports] CHECK CONSTRAINT [FK_DailyReports_LivestockCircles_LivestockCircleId]
GO
ALTER TABLE [dbo].[FoodReports]  WITH CHECK ADD  CONSTRAINT [FK_FoodReports_DailyReports_ReportId] FOREIGN KEY([ReportId])
REFERENCES [dbo].[DailyReports] ([Id])
GO
ALTER TABLE [dbo].[FoodReports] CHECK CONSTRAINT [FK_FoodReports_DailyReports_ReportId]
GO
ALTER TABLE [dbo].[FoodReports]  WITH CHECK ADD  CONSTRAINT [FK_FoodReports_Foods_FoodId] FOREIGN KEY([FoodId])
REFERENCES [dbo].[Foods] ([Id])
GO
ALTER TABLE [dbo].[FoodReports] CHECK CONSTRAINT [FK_FoodReports_Foods_FoodId]
GO
ALTER TABLE [dbo].[Foods]  WITH CHECK ADD  CONSTRAINT [FK_Foods_FoodCategories_FoodCategoryId] FOREIGN KEY([FoodCategoryId])
REFERENCES [dbo].[FoodCategories] ([Id])
GO
ALTER TABLE [dbo].[Foods] CHECK CONSTRAINT [FK_Foods_FoodCategories_FoodCategoryId]
GO
ALTER TABLE [dbo].[ImageBreeds]  WITH CHECK ADD  CONSTRAINT [FK_ImageBreeds_Breeds_BreedId] FOREIGN KEY([BreedId])
REFERENCES [dbo].[Breeds] ([Id])
GO
ALTER TABLE [dbo].[ImageBreeds] CHECK CONSTRAINT [FK_ImageBreeds_Breeds_BreedId]
GO
ALTER TABLE [dbo].[ImageDailyReports]  WITH CHECK ADD  CONSTRAINT [FK_ImageDailyReports_DailyReports_DailyReportId] FOREIGN KEY([DailyReportId])
REFERENCES [dbo].[DailyReports] ([Id])
GO
ALTER TABLE [dbo].[ImageDailyReports] CHECK CONSTRAINT [FK_ImageDailyReports_DailyReports_DailyReportId]
GO
ALTER TABLE [dbo].[ImageFoods]  WITH CHECK ADD  CONSTRAINT [FK_ImageFoods_Foods_FoodId] FOREIGN KEY([FoodId])
REFERENCES [dbo].[Foods] ([Id])
GO
ALTER TABLE [dbo].[ImageFoods] CHECK CONSTRAINT [FK_ImageFoods_Foods_FoodId]
GO
ALTER TABLE [dbo].[ImageLivestockCircles]  WITH CHECK ADD  CONSTRAINT [FK_ImageLivestockCircles_LivestockCircles_LivestockCircleId] FOREIGN KEY([LivestockCircleId])
REFERENCES [dbo].[LivestockCircles] ([Id])
GO
ALTER TABLE [dbo].[ImageLivestockCircles] CHECK CONSTRAINT [FK_ImageLivestockCircles_LivestockCircles_LivestockCircleId]
GO
ALTER TABLE [dbo].[ImageMedicines]  WITH CHECK ADD  CONSTRAINT [FK_ImageMedicines_Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([Id])
GO
ALTER TABLE [dbo].[ImageMedicines] CHECK CONSTRAINT [FK_ImageMedicines_Medicines_MedicineId]
GO
ALTER TABLE [dbo].[LivestockCircleFoods]  WITH CHECK ADD  CONSTRAINT [FK_LivestockCircleFoods_Foods_FoodId] FOREIGN KEY([FoodId])
REFERENCES [dbo].[Foods] ([Id])
GO
ALTER TABLE [dbo].[LivestockCircleFoods] CHECK CONSTRAINT [FK_LivestockCircleFoods_Foods_FoodId]
GO
ALTER TABLE [dbo].[LivestockCircleFoods]  WITH CHECK ADD  CONSTRAINT [FK_LivestockCircleFoods_LivestockCircles_LivestockCircleId] FOREIGN KEY([LivestockCircleId])
REFERENCES [dbo].[LivestockCircles] ([Id])
GO
ALTER TABLE [dbo].[LivestockCircleFoods] CHECK CONSTRAINT [FK_LivestockCircleFoods_LivestockCircles_LivestockCircleId]
GO
ALTER TABLE [dbo].[LivestockCircleMedicines]  WITH CHECK ADD  CONSTRAINT [FK_LivestockCircleMedicines_LivestockCircles_LivestockCircleId] FOREIGN KEY([LivestockCircleId])
REFERENCES [dbo].[LivestockCircles] ([Id])
GO
ALTER TABLE [dbo].[LivestockCircleMedicines] CHECK CONSTRAINT [FK_LivestockCircleMedicines_LivestockCircles_LivestockCircleId]
GO
ALTER TABLE [dbo].[LivestockCircleMedicines]  WITH CHECK ADD  CONSTRAINT [FK_LivestockCircleMedicines_Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([Id])
GO
ALTER TABLE [dbo].[LivestockCircleMedicines] CHECK CONSTRAINT [FK_LivestockCircleMedicines_Medicines_MedicineId]
GO
ALTER TABLE [dbo].[LivestockCircles]  WITH CHECK ADD  CONSTRAINT [FK_LivestockCircles_Barns_BarnId] FOREIGN KEY([BarnId])
REFERENCES [dbo].[Barns] ([Id])
GO
ALTER TABLE [dbo].[LivestockCircles] CHECK CONSTRAINT [FK_LivestockCircles_Barns_BarnId]
GO
ALTER TABLE [dbo].[LivestockCircles]  WITH CHECK ADD  CONSTRAINT [FK_LivestockCircles_Breeds_BreedId] FOREIGN KEY([BreedId])
REFERENCES [dbo].[Breeds] ([Id])
GO
ALTER TABLE [dbo].[LivestockCircles] CHECK CONSTRAINT [FK_LivestockCircles_Breeds_BreedId]
GO
ALTER TABLE [dbo].[LivestockCircles]  WITH CHECK ADD  CONSTRAINT [FK_LivestockCircles_Users_TechicalStaffId] FOREIGN KEY([TechicalStaffId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[LivestockCircles] CHECK CONSTRAINT [FK_LivestockCircles_Users_TechicalStaffId]
GO
ALTER TABLE [dbo].[MedicineReports]  WITH CHECK ADD  CONSTRAINT [FK_MedicineReports_DailyReports_ReportId] FOREIGN KEY([ReportId])
REFERENCES [dbo].[DailyReports] ([Id])
GO
ALTER TABLE [dbo].[MedicineReports] CHECK CONSTRAINT [FK_MedicineReports_DailyReports_ReportId]
GO
ALTER TABLE [dbo].[MedicineReports]  WITH CHECK ADD  CONSTRAINT [FK_MedicineReports_Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([Id])
GO
ALTER TABLE [dbo].[MedicineReports] CHECK CONSTRAINT [FK_MedicineReports_Medicines_MedicineId]
GO
ALTER TABLE [dbo].[Medicines]  WITH CHECK ADD  CONSTRAINT [FK_Medicines_MedicineCategories_MedicineCategoryId] FOREIGN KEY([MedicineCategoryId])
REFERENCES [dbo].[MedicineCategories] ([Id])
GO
ALTER TABLE [dbo].[Medicines] CHECK CONSTRAINT [FK_Medicines_MedicineCategories_MedicineCategoryId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_LivestockCircles_LivestockCircleId] FOREIGN KEY([LivestockCircleId])
REFERENCES [dbo].[LivestockCircles] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_LivestockCircles_LivestockCircleId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_CustomerId]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
USE [master]
GO
